body{
 padding : 50px;
 margin: 0;
}

.container {
    width: 200px;
    border: 10px solid #ddd;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 15px 25px rgba(0,0,0,0.3);


}

.wrapper {
  width : 100%;
  display: flex;
  animation:  slide 10s infinite linear;
}



img {
    width: 100%;
}

@keyframes slide {
    0% {transform: translateX(0);}
    25% {transform: translateX(0);}
    30% {transform: translateX(-100%);}
    50% {transform: translateX(-100%);}
    55% {transform: translateX(-200%);}
    75% {transform: translateX(-200%);}
    80% {transform: translateX(-300%);}
    100% {transform: translateX(-300%);}

}
